

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  background: linear-gradient(135deg, #d1fffa 0%, #2575fc 100%);
  padding: 1.25rem; 
}


.login-box {
  background: #203df5;
  padding: 2.5rem; 
  border-radius: 0.625rem; 
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.2); 
  width: 100%;
  max-width: 25rem; 
  text-align: center;
}

.login-box h2 {
  margin-bottom: 1.5625rem; 
  color: black;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
}


.input-group {
  margin-bottom: 1.25rem; 
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem; 
  font-weight: bold;
  color: black;
}

.input-group input {
  width: 100%;
  padding: 0.75rem; 
  border: 1px solid #ccc;
  border-radius: 0.3125rem; 
  font-size: 1rem;
  transition: border-color 0.3s;
  font-family: "Montserrat", sans-serif;
}

.input-group input:focus {
  border-color: #2575fc;
  outline: none;
}


.login-button {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: #a6f0f5;
  color: black;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 0.625rem; 
  font-family: "Montserrat", sans-serif;
}

.login-button:hover {
  background-color: #621be3;
}


@media (max-width: 600px) {

  .login-container {
    padding: 0; 
    background: #fff; 
    align-items: flex-start; 
    min-height: auto;
    font-family: "Montserrat", sans-serif;
  }


  .login-box {
    padding: 1.5rem; 
    margin-top: 2rem; 
    width: 100%;
    max-width: 100%;
    box-shadow: none; 
    border-radius: 0; 
    border: none;
  }

  .login-box h2 {
    font-size: 1.7rem; 
    text-align: left;
    font-family: "Montserrat", sans-serif;
  }

  .input-group input {
    padding: 1rem; 
  }
}
