.menu-toggle {
  display: none;
}
@media (max-width: 768px) {
  nav.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .menu-toggle {
    display: block;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;

    margin-left: 0;
  }

  .menu-Horizontal {
    display: none;
    flex-direction: column;

    background: white;
    position: absolute;

    right: 20px; 
    top: 60px;

    padding: 1rem;
    border: 1px solid #ccc;

    width: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .menu-Horizontal.active {
    display: flex;
  }


  .menu-Horizontal li:hover .menu-Vertical {
    display: none;
  }


  .menu-Horizontal li .menu-Vertical {
    position: static;
    padding-left: 1rem;
    border: none;
  }

  .menu-Horizontal li.open .menu-Vertical {
    display: block;
  }


  .logo img {
    width: 45px;
    height: 45px;
  }
}
